<!DOCTYPE html>
<html lang="en">
<head th:replace="~{plantilla :: head}">
</head>
<body>
    <div class="wrapper">
        <aside th:replace="~{plantilla :: aside}"></aside>
        <div class="main p-3" style="margin-left: 65px; height: 100vh; overflow-y: auto;">
            <!--Navegacion de la pagina Actual-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a th:href="@{/Inicio}">Inicio</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Gestión de Pedidos</li>
                </ol>
            </nav>

            <!--Titulo de la Sección-->
            <div class="px-4 py-5 my-5 text-center">
                <h1 class="display-5 fw-bold">Pedidos Finalizados</h1>
            </div>
            
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                  <div class="d-grid gap-2 d-md-block">
                    <a th:href="@{/pedidos/lista}" class="btn btn-danger">Ordenes Pendientes</a>
                  </div>
                </div>
              </nav>
            
            <div class="text-center">
                <table class="table">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Total</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Repartidor</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="pedido : ${pedidos}">
                        <th th:text="${pedido.id}"></th>
                        <td th:text="${pedido.cliente.username}"></td>
                        <td th:text="${pedido.fechaPedido}"></td>
                        <td th:text="'$ ' + ${pedido.total}"></td>
                        <td th:text="${pedido.estado}"></td>
                        <td th:text="${pedido.repartidor != null ? pedido.repartidor.username : 'Sin asignar'}"></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            
        </div>
    </div>  
    <footer th:replace="~{plantilla :: footer}"></footer>
</body>
</html>