<!DOCTYPE html>
<html lang="en">
<head th:replace="~{plantilla :: head}"></head>
<body>
    <div class="wrapper">
        <aside th:replace="~{plantilla :: aside}"></aside>
        <div class="main p-3" style="margin-left: 65px; height: 100vh; overflow-y: auto;">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a th:href="@{/Inicio}">Inicio</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Órdenes Completadas</li>
                </ol>
            </nav>

            <div class="px-4 py-5 my-5 text-center">
                <h1 class="display-5 fw-bold">Órdenes Completadas</h1>
            </div>

            <div class="card-group row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-4">
                <div th:each="pedido : ${pedidos}">
                    <div class="card d-flex flex-column" style="width: 100%; height: 100%;">
                        <div class="card-body"> 
                            <h5 class="card-title">Orden N° <span th:text="${pedido.id}"></span></h5>
                            <p class="card-text">Cliente: <span th:text="${pedido.cliente.username}"></span></p>
                            <p class="card-text">Fecha: <span th:text="${pedido.fechaPedido}"></span></p>
                            <ul>
                                <li th:each="detalle : ${pedido.detalles}">
                                    <span th:text="${detalle.producto.nombre}"></span> x <span th:text="${detalle.cantidad}"></span>
                                </li>
                            </ul>
                            <p class="card-text">Total: $<span th:text="${pedido.total}"></span></p>                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>  
    <footer th:replace="~{plantilla :: footer}"></footer>
</body>
</html>