<!DOCTYPE html>
<html lang="en">
<head th:replace="~{plantilla :: head}">
</head>
<body>
    <div class="wrapper">
        <aside th:replace="~{plantilla :: aside}"></aside>
        <div class="main p-3" style="margin-left: 65px; height: 100vh; overflow-y: auto;">
            <div class="text-center">
                <h1>
                    Inicio TPI-2024
                </h1>
            </div>
        </div>
    </div>  
    <footer th:replace="~{plantilla :: footer}"></footer>
</body>
</html>